/* start variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-background: #ececec;
  --secondary-text-color: #777;
  --section-padding-top: 100px;
  --section-padding-bottom: 100px;
  --main-transition: 0.3s;
  --main-gap: 40px;
}
/* end variables */
/* start globle rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start main-title */
.main-title {
  font-size: 30px;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto 80px;
  padding: 10px 20px;
  border: 2px solid #000;
  position: relative;
  z-index: 1;
  transition: var(--main-transitions);
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover:before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: #fff;
  border-color: #fff;
  transition-delay: 0.5s;
}
/* end main-title */
/*start spikes */
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  right: 0;
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(225deg, #fff 25%, transparent 25%);
  background-size: 30px 30px;
  z-index: 1;
}
/* end spikes */
/* start dots */
.dots {
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
@media (max-width: 1199px) {
  .dots {
    display: none;
  }
}
.dots-up {
  top: 150px;
  right: 0;
}
.dots-down {
  bottom: 150px;
  left: 0;
}
/* end dots */
/* end globle rules */
/* start header */
.header {
  text-transform: capitalize;
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  position: relative;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 767px) {
  .header .container {
    flex-direction: column;
  }
}
.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
  height: 72px;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: 0 auto;
  }
}
.header .main-nav > .Other-Links:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  font-size: 17px;
  color: #000;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 30px;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    font-size: 13px;
    height: 40px;
    padding: 0 10px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.header .main-nav > li > a:hover::before {
  left: 0%;
}
/* start-mega-menu */
.header .mega-menu {
  width: 100%;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  background-color: #fff;
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  display: flex;
  gap: 40px;
  z-index: -1;
  opacity: 0;
  transition: top var(--main-transitions), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .link {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .link li {
  position: relative;
}
.header .mega-menu .link li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .link:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .link li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  transition: 0.5s;
  z-index: -1;
}
.header .mega-menu .link li:hover::before {
  width: 100%;
}
.header .mega-menu .link li a {
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 15px;
}
.header .mega-menu .link li a i {
  margin-right: 10px;
}
/* end-mega-menu */
/* end header */
/* start landing */
.landing {
  position: relative;
  z-index: -1;
}
.landing::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ececec;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 1199px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  letter-spacing: -2;
  margin: 0;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 1199px) {
  .landing .text p {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
.landing .image img {
  width: 600px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 1199px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* end landing */
/*start articles */
.articles {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--main-gap);
}
.articles .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0/ 10%);
  -webkit-box-shadow: 0 2px 15px rgb(0 0 0/ 10%);
  -moz-box-shadow: 0 2px 15px rgb(0 0 0/ 10%);
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0/ 20%);
}
.articles .box img {
  max-width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
}
.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
/* end articles */
/* start Gallery */
.gallery {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--main-gap);
}
.gallery .container .box {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 12px 20px 0 rgb(0 0 0/ 13%), 0px 2px 40px 0 rgb(0 0 0/ 12%);
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .box .image::before {
  content: "";
  width: 0px;
  height: 0px;
  background-color: rgb(255 255 255 / 20%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}
.gallery .container .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .container .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* end Gallery */
/* start features */
.features {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
  background-color: #fff;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--main-gap);
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .img-holder {
  position: relative;
  overflow: hidden;
}
.features .box .img-holder::before {
  content: "";
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
}
.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 0px;
  border-width: 0px 0px 170px 650px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  transition: var(--main-transition);
}
.features .box:hover .img-holder::after {
  border-width: 170px 650px 170px 0px;
}
.features .box img {
  max-width: 100%;
}
.features .box h2 {
  width: fit-content;
  font-size: 40px;
  margin: auto;
  position: relative;
}
.features .box h2::after {
  content: "";
  width: calc(100% - 30px);
  height: 5px;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.features .box p {
  font-size: 20px;
  color: #777;
  margin: 30px 0;
  line-height: 2;
  padding: 25px;
}
.features .box a {
  display: block;
  width: fit-content;
  font-size: 22px;
  font-weight: bold;
  border: 3px solid transparent;
  margin: 0 auto 20px;
  padding: 10px 30px;
  border-radius: 6px;
  position: relative;
  transition: var(--main-transition);
}
.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after {
  background-color: rgb(0 150 136);
}
.features .time a {
  color: rgb(0 150 136);
  border-color: rgb(0 150 136);
  background: linear-gradient(to right, rgb(0 150 136) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after {
  background-color: #03a9f4;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: #fff;
}
/* end teatures */
/* start Testimonials */
.testimonials {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--main-gap);
}
.testimonials .box {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgb(0 0 0/ 7%);
  position: relative;
}
.testimonials .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
  position: absolute;
  right: -10px;
  top: -50px;
}
.testimonials .box h3 {
  margin: 0 0 10px;
}
.testimonials .box span {
  color: var(--secondary-text-color);
  display: block;
  margin-bottom: 10px;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  color: var(--secondary-text-color);
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 0;
}
/* end Testimonials */
/* start Team */
.team {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: "";
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transition: var(--main-transition);
}
.team .box::before {
  background-color: #f3f3f3;
  width: calc(100% - 60px);
  z-index: -2;
}
@media (max-width: 767px) {
  .team .box::before {
    width: 100%;
  }
}
.team .box::after {
  background-color: #e4e4e4;
  width: 0px;
  z-index: -1;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
@media (max-width: 767px) {
  .team .box:hover::after {
    width: 100%;
  }
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
@media (max-width: 767px) {
  .team .box .data {
    padding-top: 0;
  }
}
.team .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .team .box .data img {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
.team .box:hover .data img {
  filter: grayscale(100%);
}
.team .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .box .social a:hover i {
  color: var(--main-color);
}
.team .box .social i {
  color: #777;
  transition: var(--main-transition);
}
.team .box .info {
  padding-left: 80px;
}
@media (max-width: 767px) {
  .team .box .info {
    padding-left: 0px;
    text-align: center;
  }
}
.team .box .info h3 {
  font-size: 22px;
  padding-top: 20px;
  margin-bottom: 0;
  color: var(--main-color);
  transition: var(--main-transition);
}
.team .box:hover .info h3 {
  color: #777;
}
.team .box .info p {
  margin: 10px 0;
}
/* end Team-Members */
/* start services */
.services {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  position: relative;
  box-shadow: 0px 12px 20px 0 rgb(0 0 0/ 13%), 0px 2px 4px 0 rgb(0 0 0/ 12%);
  background-color: #fff;
  counter-increment: services;
  -webkit-counter-increment: services;
  -moz-counter-increment: services;
  transition: var(--main-transition);
}
.services .container .box::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box > i {
  color: #d5d5d5;
  text-align: center;
  display: block;
  margin: 30px auto 20px;
}
.services .container .box > h3 {
  font-size: 25px;
  text-align: center;
  color: var(--main-color);
  margin: 20px 0 40px;
}
.services .container .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}
.services .container .box .info:before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: var(--main-color);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}
.services .container .box .info::after {
  content: "";
  width: 50px;
  height: calc(100% + 0.4px);
  background-color: #d5d5d5;
  position: absolute;
  top: 0;
  left: 80px;
  transform: skewX(-30deg);
}
.services .container .box .info a {
  color: var(--main-color);
}

/* end services */
/* start our skills */
.our-skills {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: #fff;
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skill h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 19px 0;
}
.our-skills .skill h3 span {
  font-size: 12px;
  color: var(--main-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px 5px;
}
.our-skills .skill .the-progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .skill .the-progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
}
/* end our skills */
/* start work steps */
.work-steps {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .container .image {
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width: 991px) {
  .work-steps .container .image {
    margin: 0 0 50px;
  }
}
.work-steps .box {
  display: flex;
  align-items: center;
  background-color: #f6f5f5;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 30px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 767px) {
  .work-steps .box {
    flex-direction: column;
    text-align: center;
  }
}
.work-steps .box::before {
  content: "";
  width: 0%;
  height: 0%;
  background-color: #ededed;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: var(--main-transition);
}
.work-steps .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .box img {
  width: 64px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .work-steps .box img {
    margin: 0 0 40px;
  }
}
.work-steps .box .text h3 {
  font-size: 22px;
  margin: 0;
}
.work-steps .box .text p {
  font-size: 18px;
  color: var(--secondary-text-color);
  line-height: 1.7;
  margin: 10px 0 0;
}
/* end work steps */
/* start  Latest Events */
.latest-events {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
  overflow: hidden;
}
.latest-events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.latest-events .image {
  max-width: 450px;
}
@media (max-width: 991px) {
  .latest-events .image {
    display: none;
  }
}
.latest-events .info {
  flex: 1;
}
.latest-events .info .time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
}
.latest-events .info .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  transition: var(--main-transition);
}
.latest-events .info .time .unit span {
  display: block;
}
.latest-events .info .time .unit span:first-child {
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
}
.latest-events .info .time .unit span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-transition);
}
.latest-events .info .time .unit:hover,
.latest-events .info .time .unit:hover span:last-child {
  border-color: var(--main-color);
}
.latest-events .title {
  text-align: center;
  margin: 40px 0 15px;
  font-size: 30px;
}
.latest-events .description {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: var(--secondary-text-color);
}
.latest-events .subscribe {
  width: 100%;
  margin-top: 50px;
}
.latest-events .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .latest-events .subscribe form {
    max-width: 100%;
    padding: 20px;
    border-radius: 0px;
    flex-direction: column;
  }
}
.latest-events .subscribe form input[type="email"] {
  font-size: 14px;
  flex: 1;
  padding: 20px;
  border-radius: 50px;
  border: none;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .latest-events .subscribe form input[type="email"] {
    border-radius: 0;
  }
}
.latest-events .subscribe form input[type="email"]:focus {
  outline: none;
}
.latest-events .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-color);
}
.latest-events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.latest-events .subscribe form input[type="submit"] {
  font-weight: bold;
  color: #fff;
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 50px;
  border: none;
  transition: var(--main-transition);
  cursor: pointer;
}
@media (max-width: 767px) {
  .latest-events .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}
.latest-events .container .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* start Latest Events*/
/* start Pricing */
.pricing {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .container .box {
  background-color: #fff;
  text-align: center;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
}
.pricing .container .box::before,
.pricing .container .box::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  transition: var(--main-transition);
  z-index: -1;
}
.pricing .container .box::before {
  top: 0;
  left: 0;
}
.pricing .container .box::after {
  bottom: 0;
  right: 0;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}
.pricing .box.popular .label {
  font-size: 20px;
  position: absolute;
  right: 20px;
  width: 40px;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
}
.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-width: 20px;
}
.pricing .box .title {
  font-weight: bold;
  font-size: 25px;
  margin: 30px 0;
  letter-spacing: -1px;
}
.pricing .box img {
  width: 80px;
  margin-bottom: 30px;
}
.pricing .box .price {
  margin-bottom: 20px;
}
.pricing .box .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
}
.pricing .box .time {
  color: var(--secondary-text-color);
}
.pricing .box ul {
  text-align: left;
}
.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.pricing .box a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}
.pricing .box a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: #fff;
}
/*  end Pricing */
/* start videos */
.videos {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}
.videos .holder {
  background-color: var(--section-background);
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}
.videos .holder .list {
  min-width: 300px;
  background-color: #fff;
}
.videos .holder .list .name {
  font-weight: bold;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* color: var(--main-color); */
}
.videos .holder .list ul li {
  background-color: #fff;
  border-top: 1px solid var(--section-background);
  padding: 20px;
  transition: var(--main-transition);
  cursor: pointer;
}
.videos .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .holder .list ul li span {
  color: var(--secondary-text-color);
  display: block;
  margin-top: 10px;
}
.videos .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .holder .preview img {
  max-width: 100%;
}
.videos .holder .preview .info {
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
}
/* end videos */
/* start stats */
.stats {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-image: url(../imgs/stats.jpg);
  background-size: cover;
  position: relative;
  min-height: 300px;
}
.stats::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
  position: absolute;
  top: 0;
  left: 0;
}
.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .container .box {
  position: relative;
  background-color: #fff;
  text-align: center;
  padding: 30px 15px;
  opacity: 0.8;
  transition: var(--main-transition);
}
.stats .box::before,
.stats .box::after {
  content: "";
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  position: absolute;
  transition: 1s;
}
.stats .box::before {
  top: 0;
  right: 0;
}
.stats .box::after {
  left: 0;
  bottom: 0;
}
.stats .box:hover {
  opacity: 1;
}
.stats .box:hover::after,
.stats .box:hover::before {
  height: 100%;
}
.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0 10px;
}
.stats .box .text {
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}
/* end stats */
/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 10px;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
.discount .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #ccc;
  caret-color: var(--main-color);
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
}
.discount .content img {
  width: 300px;
  max-width: 100%;
}

/* End Discount */
/* start footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  font-size: 50px;
  color: #fff;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  color: #b9b9b9;
  line-height: 2;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: #fff;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  color: var(--main-color);
  font-weight: 900;
  margin-right: 10px;
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-bottom: 10px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid #fff;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: #fff;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
.footer .copyright span {
  color: var(--main-color);
}
/* end footer */
/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 55%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 55%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }
  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}
/* end animation */
